{% extends 'base.html.twig' %}

{% block title %} A sakra! {% endblock %}
 
{% block body %}
    
    {% include 'components/public/header.html.twig' %}

    <main>
        <h1>A sakra!</h1>
        <p>Server si neporadil s tvým požadavkem. Zkus počkat a třeba se to vyřeší. Pokud to nefunguje ani po delší době ozvi se na podporu.</p>
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}