{% extends 'base.html.twig' %}

{% block title %} A je to fuč {% endblock %}
 
{% block body %}
    
    {% include 'components/public/header.html.twig' %}

    <main>
        <h1>A je to fuč!</h1>
        <p>Možná zde něco bylo, ale možná ze nic nikdy nebylo. Každopádně zde to není. Možná máš špatnou adresu. Raději ji zkontroluj.</p>
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}