{% extends 'base.html.twig' %}

{% block title %} Zastav se! Kontrola. {% endblock %}
 
{% block body %}
    
    {% include 'components/public/header.html.twig' %}

    <main>
        <h1>Zastav se! Kontrola.</h1>
        <p>Ke zdejšímu obsahu pravděpodobně nemáš přístup.</p>
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}