{% extends 'base.html.twig' %}

{% block title %} Chyba! {% endblock %}
 
{% block body %}
    
    {% include 'components/public/header.html.twig' %}

    <main>
        <h1>Chyba aplikace</h1>
        <p>Něco se pokazilo</p>
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}